@import url('../assets/fonts/satoshi/style.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.radial-progress:after {
  display: none;
}

.influencer-size {
  position: relative;
}

.influencer-size-arrow {
  position: absolute;
  width: 16px;
  height: 16px;
  right: -9px;
  z-index: 1;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  top: 18px;

  /* Primary/Orange/solid */

  /* background: black; */
  transform: rotate(-45deg);
}


.platform_header {
  position: relative;
  -webkit-filter: grayscale(0);
  filter: none;
  color: #6d6d6d;
}

.platform_header::after {
  content: ' ';
  position: absolute;
  bottom: 0;
  right: -23px;
  width: 0;
  height: 0%;
  border-left: 0px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 40px solid #F5F5F5;
}

.platform_header.is_active {
  color: #000;
}

.platform_header.is_active::after {
  z-index: 1;
  border-bottom-color: #fff;
}


body,
html {
  height: 100%;
}

.home-bg {
  background-image: url('@/../assets/images/BG.png');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page-story-section-bg {
  /* background-color: red; */
  background-color: #F8FAFC;
  background-image: url('@/../assets/images/Patternpeople_talks.png');
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/* banner scroll styles */



.banner-scroll-imgs {
  max-width: 200px;
  height: 5rem;
  padding: 0 15px;
  object-fit: cover;
}

.banner-scroll-imgs:last-of-type {
  padding-left: 0;
}

.banner-scroll-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 5rem;
}

.banner-scroll-wrapper {
  position: absolute;
  display: flex;
}

.banner-scroll-sections {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}